* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;

}

h1 {
    color: #333;
    margin-bottom: 30px;
    font-size: 2em;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

#searchButton {
    padding: 12px 30px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #0056b3;
}