@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;

}

header{
    text-align: center;
    background: linear-gradient(to bottom, #6a9bc3, #5989b8);
    padding: 20px;
}

header h1 {
    color: white;
    font-weight: normal;
    font-size: 1.75em;
    
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    border: 3px solid #666;
}

#searchButton {
    padding: 8px 22px;
    background-color: #d32f2f;
    color: white;
    border: none;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}

#searchButton:hover {
    background-color: #b71c1c;
}

.searchSection{
    padding: 25px;
    background-color: #e8e8e8;
}

.searchSection label{
    color: #000;
    font-weight: normal;
    margin-bottom: 10px;
    display: block;
    font-size: 13px;
    text-align: left;
}

.searchBar{
    display: flex;
    gap: 5px;
    margin-bottom: 25px;
}

#searchInput {
    flex: 1;
    padding: 8px 10px;
    border: 1px solid #aaa;
    font-size: 14px;
    background-color: white;
}

#searchInput::placeholder {
    color: #999;
}

#resultSection{
    text-align: left;
    background-color: #e8e8e8;
}

#resultSection h2{
    color: #000;
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0.5px;
}

#resultSection hr{
    margin-top: 5px;
    margin-bottom: 20px;
    border: none;
    border-top: 1px solid #999;
}

#result{
    color: #000;
    min-height: 80px;
}

#result ul{
    list-style-type: disc;
    padding-left: 25px;
    margin: 0;
}

#result li{
    padding: 2px 0;
    font-size: 14px;
    color: #000;
    line-height: 1.6;
}

#result h3 {
    color: #000;
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 0;
}

#result h4 {
    color: #000;
    font-size: 0.95em;
    margin-bottom: 8px;
    font-weight: bold;
}

#result p {
    color: #000;
    line-height: 1.5;
    font-size: 13px;
    margin: 0;
}

#result .errorMessage, p.errorMessage {
    color: #d32f2f !important;
    font-weight: bold;
    margin-top: 13px;
    text-transform: uppercase;
    text-align: left;
}